<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <title>مالی خریدار</title>
  </head>
  <body>
    <h1>مالی خریدار</h1>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="id_full_name">نام و نام خانوادگی:</label>
        {{ form.full_name }}
      </div>
      <div>
        <label for="id_store_name">نام فروشگاه:</label>
        {{ form.store_name }}
      </div>
      <div>
        <label for="id_phone_number">شماره تماس:</label>
        {{ form.phone_number }}
      </div>
      <div>
        <label for="id_national_code">کد ملی:</label>
        {{ form.national_code }}
      </div>
      <div>
        <label for="id_province">استان:</label>
        {{ form.province }}
      </div>
      <div>
        <label for="id_city">شهر:</label>
        {{ form.city }}
      </div>
      <div>
        <label for="id_location">لوکیشن:</label>
        {{ form.location }}
      </div>
      <div>
        <label for="id_debt">بدهی:</label>
        {{ form.debt }}
      </div>
      <div>
        <label for="id_financial_limit">محدودیت مالی:</label>
        {{ form.financial_limit }}
      </div>
      <div>
        <label for="id_history">سابقه:</label>
        {{ form.history }}
      </div>
      <div>
        <label for="id_messenger">نوتیفیکیشن‌:</label>
        {{ form.messenger }}
      </div>
      <button type="submit">ارسال</button>
    </form>
  </body>
</html>
