<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <title>فرم اطلاع‌رسانی</title>
  </head>
  <body>
    <h1>فرم اطلاع‌رسانی پیامکی</h1>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="id_title">عنوان اطلاع‌رسانی:</label>
        {{ form.title }}
      </div>
      <div>
        <label for="id_content">متن اطلاع‌رسانی:</label>
        {{ form.content }}
      </div>
      <div>
        <label for="id_city">شهر مرتبط:</label>
        {{ form.city }}
      </div>
      <div>
        <label for="id_user_group">گروه کاربران هدف:</label>
        {{ form.user_group }}
      </div>
      <div>
        <label for="id_is_selected">انتخاب شده است؟</label>
        {{ form.is_selected }}
      </div>
      <div>
        <label for="id_action">اقدام مرتبط:</label>
        {{ form.action }}
      </div>
      <button type="submit">ارسال</button>
    </form>
  </body>
</html>
